$white: #ffffff;
$background100: #f7f7f7;
$background200: #fafbfc;
$background300: #eef0f3;

$blue100: #ebf6fe;
$blue200: #cee9ff;
$blue300: #8bc9fe;
$blue400: #5cb3fc;
$blue500: #40a6fd;
$blue600: #0c8efc;

$black100: #aaaaaa;
$black200: #888888;
$black300: #666666;
$black400: #444444;
$black500: #222222;

$blueScale100: #eef2f8;
$blueScale200: #d5e0ee;
$blueScale300: #c8d4e0;
$blueScale400: #b8c4d1;
$blueScale500: #9daab7;

$success100: #eff8eb;
$success200: #94d573;
$success300: #67c23a;
$success400: #529a2e;

$warning100: #fff8e5;
$warning200: #fecf4f;
$warning300: #ffba00;
$warning400: #cd9500;

$grayScale100: #f0f0f0;
$grayScale200: #e1e1e1;
$grayScale300: #d1d1d1;
$grayScale400: #5cb3fc;
$grayScale500: #b5b5b5;

$danger100: #fbebee;
$danger200: #e57a92;
$danger300: #d83a5e;
$danger400: #ba2547;

$purple300: #d999ff;
$teal300: #2cd1ac;
$pink300: #d26aaf;
$orange300: #ffa25c;
$olive300: #b4be52;
$turquoise300: #98a8ff;
$yellowGreen300: #7adb63;
