$white: #ffffff;
$background: #f7f7f7;

$blue100: #ebf6fe;
$blue200: #CEE9FF;
$blue300: #8BC9FE;
$blue400: #5CB3FC;
$blue500: #40A6FD;
$blue600: #0C8EFC;

$black100: #aaaaaa;
$black200: #888888;
$black300: #666666;
$black400: #444444;
$black500: #222222;

$blueScale100: #EEF2F8;
$blueScale200: #D5E0EE;
$blueScale300: #C8D4E0;
$blueScale400: #B8C4D1;
$blueScale500: #9DAAB7;

$success100: #f0f9eb;
$success200: #e1f3d8;
$success300: #67c23a;
$success400: #529a2e;

$warning100: #fff1cd;
$warning200: #fecf4f;
$warning300: #ffba00;
$warning400: #cd9500;

$grayScale100: #F0F0F0;
$grayScale200: #E1E1E1;
$grayScale300: #D1D1D1;
$grayScale400: #5CB3FC;
$grayScale500: #B5B5B5;

$danger100: #F7D7DE;
$danger200: #E57A92;
$danger300: #d83a5e;
$danger400: #ba2547;
