$black: #222222;
$white: #ffffff;

$blue100: #ebf6fe;
$blue200: #cee9ff;
$blue300: #8bc9fe;
$blue400: #5cb3fc;
$blue500: #40a6fd;
$blue600: #0c8efc;

$bluescale50: #fafbfc;
$bluescale100: #eef2f8;
$bluescale200: #d5e0ee;
$bluescale300: #c8d4e0;
$bluescale400: #b8c4d1;
$bluescale500: #9daab7;

$grayscale50: #f7f7f7;
$grayscale100: #f0f0f0;
$grayscale200: #e1e1e1;
$grayscale300: #d1d1d1;
$grayscale400: #c1c1c1;
$grayscale500: #b5b5b5;
$grayscale600: #cee9ff;
$grayscale700: #888888;
$grayscale800: #666666;
$grayscale900: #444444;

$green100: #eff8eb;
$green200: #94d573;
$green300: #67c23a;
$green400: #529a2e;

$red100: #f7d7de;
$red200: #e57a92;
$red300: #d83a5e;
$red400: #ba2547;

$yellow100: #fff1cd;
$yellow200: #fecf4f;
$yellow300: #ffba00;
$yellow400: #cd9500;

$purple: #d999ff;
$teal: #2cd1ac;
$pink: #d26aaf;
$orange: #ffa25c;
$olive: #b4be52;
$turquoise: #98a8ff;
$yellowgreen: #7adb63;

$success: $green300;
$danger: $red300;
$warning: $yellow300;
$info: $blue500;
$primaryLighter: $blue100;
$primaryLight: $blue300;
$primary: $blue500;
$primaryDark: $blue600;
